  <launch>
	  <include file="$(find viratsim)/launch/getworld.launch"/>

	  <param name="robot_description" command="xacro $(find viratsim)/description/virat_description.urdf.xacro" />

	  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
		args="-unpause -urdf -model virat -param robot_description" respawn="false" output="screen" />

	  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
	    <param name="publish_frequency" type="double" value="30.0" />
	  </node>
	  
  </launch>
