<launch>
	
	<!-- Setting up the Gazebo World. -->	
	
	<include file="$(find viratsim)/launch/gazebo_world.launch"/>
	
	<!-- Spawn virat in the world-->
	
	<param name="robot_description" command="xacro $(find viratsim)/description/virat_description.urdf.xacro" />
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
		args="-unpause -urdf -model virat -param robot_description" respawn="false" output="screen" />

	<!-- Setting up tfs. Honestly, no clue how this works. -->
	
	<node name="joint_state_publisher" pkg ="joint_state_publisher" type="joint_state_publisher"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="37.0" />
	</node>
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint" args="0 0 0 0 0 0 base_link base_footprint 10" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_body" args="0 0 0 0 0 0 base_link body 10" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_odom" args="0 0 0 0 0 0 base_link odom 10" />


	<!-- Initialising the Pothole Detection algo and RVIZ to visualise everything-->
	
	<node name="potholedetector" pkg="viratsim" type="potholedetector.py" output="screen"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find viratsim)/config.rviz" required="true"  />	

</launch>
  
